@charset "UTF-8";
.overlaybox {
  position: relative;
  width: 280px;
  height: 270px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png') no-repeat;
  background-size: contain;
  padding: 10px 8px;
}

/* reset */
.overlaybox div,
.overlaybox ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.overlaybox li {
  list-style: none;
}

/* title */
.overlaybox .boxtitle {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png')
    no-repeat right 90px center;
  margin-bottom: 6px;
}

/* first area */
.overlaybox .first {
  position: relative;
  width: 200px;
  height: 110px;
  margin-bottom: 6px;
}

.first .text {
  color: #fff;
  font-weight: bold;
}

.first .triangle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/triangle.png')
    no-repeat;
  background-size: contain;
  padding: 5px;
  font-size: 16px;
}

.first .movietitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  font-size: 7px;
}

/* list */
.overlaybox ul {
  width: 200px;
}

.overlaybox li {
  position: relative;
  margin-bottom: 2px;
  background: #2b2d36;
  padding: 4px 8px;
  color: #aaabaf;
  line-height: 1.2;
}

.overlaybox li span {
  display: inline-block;
}

.overlaybox li .number {
  font-size: 14px;
  font-weight: bold;
}

.overlaybox li .title {
  font-size: 11px;
}

/* arrow */
.overlaybox ul .arrow {
  position: absolute;
  margin-top: 6px;
  right: 20px;
  width: 5px;
  height: 3px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/updown.png')
    no-repeat;
}

.overlaybox li .up {
  background-position: 0 -40px;
}

.overlaybox li .down {
  background-position: 0 -60px;
}

.overlaybox li .count {
  position: absolute;
  margin-top: 4px;
  right: 10px;
  font-size: 9px;
}

/* hover */
.overlaybox li:hover {
  color: #fff;
  background: #d24545;
}

.overlaybox li:hover .up {
  background-position: 0 0;
}

.overlaybox li:hover .down {
  background-position: 0 -20px;
}